<h1>{{title}}</h1>

<div *ngFor="let user of users"> 
  
  <div *ngIf="user.age > 20"> 
    <h5>FirstName: {{user.firstName}}</h5>
    
    <h5>LastName: {{user.lastName}}</h5>
    
    <h5>Age: {{user.age}}</h5>
  </div>

</div>

<br> 

<app-user [inputArray]="parentUsers" (outputArray)="handleUserEvent($event)"></app-user>


<br> 
<h1>Array From User Component</h1>
<table class="table">
  <tbody>
    <tr *ngFor ="let childUser of userComponentArray">  
        <td>{{childUser.Id}}</td>
        <td>{{childUser.Firstname}}</td>
        <td>{{childUser.Lastname}}</td>
        <td>{{childUser.DateOfBirth}}</td>
        <td>{{childUser.PhoneNumber}} </td>
        <td>{{childUser.Email}} </td>
        
    </tr>

  </tbody>
</table>

<br> 

<div class="container-fluid" >
  <form [formGroup]="userForm">
    <div class="form-group">
      <input type="text" formControlName = "Id" class="form-control" placeholder="Id" [ngClass]="{'is-invalid':userForm.get('Id')?.touched && userForm.get('Id')?.invalid}">
      <small class="text-danger" *ngIf="userForm.get('Id')?.touched && userForm.get('Id')?.invalid">Enter Valid Id</small>
    </div>
    
    <div class="form-group">
      <input type="text" formControlName = "Firstname" class="form-control" placeholder="FirstName" [ngClass]="{'is-invalid':userForm.get('Firstname')?.touched && userForm.get('Firstname')?.invalid}">
      <small class="text-danger" *ngIf="userForm.get('Firstname')?.touched && userForm.get('Firstname')?.invalid">Enter Valid FirstName</small>
  
    </div>
    
    <div class="form-group">
      <input type="text" formControlName="Lastname" class="form-control" placeholder="LastName" [ngClass]="{'is-invalid':userForm.get('Lastname')?.touched && userForm.get('Lastname')?.invalid}">
      <small class="text-danger" *ngIf="userForm.get('Lastname')?.touched && userForm.get('Lastname')?.invalid">Enter Valid LastName</small>
  
    </div>
    
    <div class="form-group" >
      <input type="date" formControlName="DateOfBirth" class="form-control" [ngClass]="{'is-invalid':userForm.get('DateOfBirth')?.touched && userForm.get('DateOfBirth')?.invalid}">
      <small class="text-danger" *ngIf="userForm.get('DateOfBirth')?.touched && userForm.get('DateOfBirth')?.invalid">Enter Valid Date Of Birth</small>
  
    </div>
    
    <div class="form-group">
      <input type="text" formControlName="PhoneNumber" class="form-control" placeholder="PhoneNumber" [ngClass]="{'is-invalid':userForm.get('PhoneNumber')?.touched && userForm.get('PhoneNumber')?.invalid}">
      <small class="text-danger" *ngIf="userForm.get('PhoneNumber')?.touched && userForm.get('PhoneNumber')?.invalid">Enter Valid Phone Number</small>
  
    </div>
    <div class="form-group">
      <input type="text" formControlName = "Email" class="form-control" placeholder="Email" [ngClass]="{'is-invalid':userForm.get('Email')?.touched && userForm.get('Email')?.invalid}">
      <small class="text-danger" *ngIf="userForm.get('Email')?.touched && userForm.get('Email')?.invalid">Enter Valid Email</small>
  
    </div>
    
    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="userForm.invalid" >Add User</button>
  </form>

</div>
<br>
<h1>Form Input Array Here</h1>
<table class="table">
  <tbody>
    <tr *ngFor ="let formUser of formUsers">  
        <td>{{formUser.Id}}</td>
        <td>{{formUser.Firstname}}</td>
        <td>{{formUser.Lastname}}</td>
        <td>{{formUser.DateOfBirth}}</td>
        <td>{{formUser.PhoneNumber}} </td>
        <td>{{formUser.Email}} </td>
        
    </tr>

  </tbody>
</table>
